body {
    background-color: #ddeedf;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #f70776;
  }
  
  .container {
    margin: 120px auto;
    max-width: 600px;
  }
  header {
    margin-bottom: 30px;
  }
  
  h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #c3195d;
  }
  
  .form-container {
    background-color: #680747;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 30px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0);
  }
  
  form {
    display: flex;
  }
  
  .hint {
    line-height: 1.5;
    font-size: 12px;
    color: #f76b8a;
    margin-top: 5px;
    opacity: 0.6;
  }
  
  .instructions {
    padding: 10px;
    border: 1px solid #f70776;
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #c3195d;
    background-color: #f2f9f1;
  }
  
  .submit-button {
    margin-left: 10px;
    background-color: #680747;
    border: none;
    border-radius: 10px;
    line-height: 20px;
    padding: 10px;
    width: 80px;
    font-size: 16px;
    color: #f2f9f1;
  }
  
  .poem {
    font-size: 16px;
    background-color: #f2f9f1;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #c3195d;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0);
    border-radius: 10px;
    color: #680747;
  }
  
  .hidden {
    display: none;
  }
  
  footer {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
    color: #c3195d;
  }
